In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

Variable that will be interesting to utilize
1. Employment
2. Country
3. EdLevel
4. Undergradute Major
5. DevType
6. Job Satisfaction
7. Salary
8. Languages
9. Database
10. Platform
11. Framework

In [2]:
def clean(df,year):
    col_renames = ['Employment','Country','Education',
                   'Major','DeveloperType','JobSatisfaction','Salary',
                   'LanguageWorkedWith','DatabaseWorkedWith',
                   'PlatformWorkedWith','WebFrameWorkedWith']
    df.columns = col_renames
    
    is_freelance_or_fulltime = df['Employment'].str.contains('freelance',na=False)
    df = df.loc[is_freelance_or_fulltime]
    
    if ~isinstance(df['JobSatisfaction'],str):
        jobSat_buckets = {0: 'Extremely dissatisfied',
                  1: 'Moderately dissatisfied',
                  2: 'Moderately dissatisfied',
                  3: 'Slightly dissatisfied',
                  4: 'Slightly dissatisfied',
                  5: 'Neither satisfied nor dissatisfied',
                  6: 'Slightly satisfied',
                  7: 'Slightly satisfied',
                  8: 'Moderately dissatisfied',
                  9: 'Moderately dissatisfied',
                  10: 'Extremely satisfied'}
        df['JobSatisfaction'] = df['JobSatisfaction'].map(jobSat_buckets)
        
    country_dict = {'United States':'U.S.',
                    'United Kingdom':'U.K.',
                    'Russian Federation':'Russia'}
    df['Country'] = df['Country'].replace(country_dict)
    
    database_dict = {'Microsoft Azure (Tables, CosmosDB, SQL, etc)':'Microsoft Azure'}
    df['DatabaseWorkedWith'] = df['DatabaseWorkedWith'].replace(database_dict)
    
    df['Year']=year
    
    return df

In [3]:
df_2017 = pd.read_csv('survey_results_public_2017.csv',low_memory=False)
print(df_2017.shape)
cols_2017 = ['EmploymentStatus','Country','FormalEducation','MajorUndergrad',
             'DeveloperType','JobSatisfaction','Salary',
             'HaveWorkedLanguage','HaveWorkedDatabase','HaveWorkedPlatform','HaveWorkedFramework',
            ]
df_2017 = df_2017[cols_2017]
df_2017 = clean(df_2017,2017)
print(df_2017.shape)
df_2017.info()

(51392, 154)
(5233, 12)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5233 entries, 9 to 51383
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employment          5233 non-null   object
 1   Country             5233 non-null   object
 2   Education           5233 non-null   object
 3   Major               4162 non-null   object
 4   DeveloperType       3690 non-null   object
 5   JobSatisfaction     4339 non-null   object
 6   Salary              0 non-null      float64
 7   LanguageWorkedWith  3921 non-null   object
 8   DatabaseWorkedWith  3386 non-null   object
 9   PlatformWorkedWith  3381 non-null   object
 10  WebFrameWorkedWith  2354 non-null   object
 11  Year                5233 non-null   int64
dtypes: float64(1), int64(1), object(10)
memory usage: 531.5+ KB

In [4]:
df_2018 = pd.read_csv('survey_results_public_2018.csv',low_memory=False)
print(df_2018.shape)
cols_2018 = ['Employment','Country','FormalEducation','UndergradMajor',
             'DevType','JobSatisfaction','Salary',
             'LanguageWorkedWith','DatabaseWorkedWith','PlatformWorkedWith','FrameworkWorkedWith'
            ]
df_2018 = df_2018[cols_2018]
df_2018 = clean(df_2018,2018)
print(df_2018.shape)
df_2018.info()

(98855, 129)
(9282, 12)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9282 entries, 71531 to 98853
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employment          9282 non-null   object
 1   Country             9282 non-null   object
 2   Education           9093 non-null   object
 3   Major               7257 non-null   object
 4   DeveloperType       8923 non-null   object
 5   JobSatisfaction     0 non-null      object
 6   Salary              4340 non-null   object
 7   LanguageWorkedWith  7639 non-null   object
 8   DatabaseWorkedWith  6790 non-null   object
 9   PlatformWorkedWith  6808 non-null   object
 10  WebFrameWorkedWith  5121 non-null   object
 11  Year                9282 non-null   int64
dtypes: int64(1), object(11)
memory usage: 942.7+ KB

In [5]:
df_2019 = pd.read_csv('survey_results_public_2019.csv',low_memory=False)
print(df_2019.shape)
cols_2019 = ['Employment','Country','EdLevel','UndergradMajor',
             'DevType','JobSat','CompTotal',
             'LanguageWorkedWith','DatabaseWorkedWith','PlatformWorkedWith','WebFrameWorkedWith'
            ]
df_2019 = df_2019[cols_2019]
df_2019 = clean(df_2019,2019)
print(df_2019.shape)
df_2019.info()

(88883, 85)
(8511, 12)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8511 entries, 6 to 88881
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employment          8511 non-null   object
 1   Country             8496 non-null   object
 2   Education           8239 non-null   object
 3   Major               6989 non-null   object
 4   DeveloperType       8335 non-null   object
 5   JobSatisfaction     0 non-null      object
 6   Salary              4569 non-null   float64
 7   LanguageWorkedWith  8397 non-null   object
 8   DatabaseWorkedWith  7602 non-null   object
 9   PlatformWorkedWith  7965 non-null   object
 10  WebFrameWorkedWith  6675 non-null   object
 11  Year                8511 non-null   int64
dtypes: float64(1), int64(1), object(10)
memory usage: 864.4+ KB

In [6]:
df_all = pd.concat([df_2017,df_2018,df_2019],axis=0,ignore_index=True)
df_all.shape

(23026, 12)

In [7]:
df_all.head()

,Employment,Country,Education,Major,DeveloperType,JobSatisfaction,Salary,LanguageWorkedWith,DatabaseWorkedWith,PlatformWorkedWith,WebFrameWorkedWith,Year
0,"Independent contractor, freelancer, or self-em...",France,Master's degree,Computer science or software engineering,Mobile developer; Desktop applications developer,Moderately dissatisfied,NaN,Objective-C; Swift,PostgreSQL,iOS; Amazon Web Services (AWS),NaN,2017
1,"Independent contractor, freelancer, or self-em...",U.S.,Primary/elementary school,NaN,Desktop applications developer,Moderately dissatisfied,NaN,JavaScript; VB.NET,NaN,Windows Desktop,NaN,2017
2,"Independent contractor, freelancer, or self-em...",Italy,Secondary school,NaN,Web developer,Moderately dissatisfied,NaN,PHP; SQL,MySQL,Windows Desktop; WordPress,NaN,2017
3,"Independent contractor, freelancer, or self-em...",Germany,Professional degree,Computer science or software engineering,NaN,NaN,NaN,C#; Java,NaN,Windows Desktop; Linux Desktop,NaN,2017
4,"Independent contractor, freelancer, or self-em...",Brazil,Some college/university study without earning ...,Computer science or software engineering,Web developer,Neither satisfied nor dissatisfied,NaN,JavaScript,MongoDB,NaN,Node.js; React; Firebase,2017

In [8]:
df_all['Salary'] = df_all['Salary'].str.replace(',','')
df_all['Salary'] = df_all['Salary'].astype(float)

In [9]:
df_all.to_csv('survey_data_17_to_19.csv',index=False)